---
layout: page
title: Hello, good folks!
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Hi, this is Prashant &#38; <br> am elated to get to be a part of IIMB and share this journey with all of you!</h1>
          <p class="animated fadeInUp">Scroll down to get to know a bit more about me!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Me</h2>
          </div>
          <p>I am a software developer by profession and a techie by heart. When am not coding, I spend my time imagining random things(like in the picture), watching TV series, animes, writing/browsing on Quora. I also love writing tiny tales. Like the below one, for example: </p>
        <div class="section-title">
            <p>"Moon fell in love with Earth the moment he saw a strand of hair across her face. Little did he know that the strand of hair was a wall made by China."  </p>
          </div>
          <p><small>PS : I wanted it to be romantic, but it ended up being comic. Such is life! </small></p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <!-- <h2>Strongly against pineapple on pizza</h2> -->
      <div class="section-title" >
           <p style="color: white">"If my parents knew even half the things my friends know about me, they would probably disown me" - Prashant</p>
        </div>
        <p style="color: white">I am a big fan of playing outdoor sports, be it football, cricket, or badminton. Looking forward to get better at sports at IIMB(and lose some of the quarantine weight that I gained :P). I love traveling, and hopefully we will be able to undertake a few trips</p>
      <p style="color: white">Another one of my pass time hobbies is trading in crypto markets. Extremely wild, and certainly not for the faint-hearted(learnt some harsh lessons myself) </p>
      
        </div>
      <!-- <a href="#" class="btn btn-view-works">View Works</a> -->
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Random Quote, just for the sake of it</h2>
        <p>When you feel like quitting, think about why you started.</p>
      </div>
      <p>Oh, by the way, I prefer coffee over tea. Not a tea person!</p>
    </div>
    <!-- <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div> -->
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>I am a goofy guy</h2>
          <p>If you are interested to read one of the my embarrassing stories, click on the below button(I will probably regret this!)</p>
          <a class="btn btn-default btn-call-to-action" href="https://qr.ae/pNyzu6" >Quora</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Testimonials and random facts about me</h2>
        <p>I am strongly against pineapple on pizza!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <!-- <i class="{{ ff.icon }}"></i> -->
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <!-- <img src="{{ tm.image }}" alt="Pepole"> -->
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<br><br>
